{%extends 'base.html'%}

{%block main_block%}
<div class="container mt-5">

    <div>
       <div class="bg-dark text-white p-4 border rounded"> 
            <h3 class="fw-bold text-center">Edit Expense</h3>
        </div>

      
        <form action="" method="post" class="border p-3">
            {%csrf_token%}
            <div class="mb-3">
                <div class="row">
                 <div class="col-6">
                     <label for="">Title</label>
                     {{form.title}}
                 </div>
                 <div class="col-6">
                     <label for="">Amount</label>
                     {{form.amount}}
                 </div>
                </div>
             </div>
 
             <div class="mb-3">
                 <div class="row">
                  <div class="col-6">
                      <label for="">Select category</label>
                      {{form.category}}
                  </div>
                  <div class="col-6">
                      <label for="">Select priority</label>
                      {{form.priority}}
                  </div>
                 </div>
              </div>
 
              <div class="mb-3">
                 <div class="row">
                  <div class="col-12">
                      <label for="">Enter owner</label>
                      {{form.owner}}
                  </div>
                 
                 </div>
              </div>
 
              <div class="d-flex justify-content-center">
                <div>
                 <button type="submit" class="btn btn-success">Change</button>
                 <button type="reset" class="btn btn-info">Reset</button>
                </div>
              </div>
        </form>
    </div>
</div>


{%endblock%}